/* Reset CSS */
body {
    font-family: 'Arapey';
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: white;
    color: #333;
    font-size: 18px;
    box-sizing: border-box;
    padding-top: 160px; 
    overflow-y: auto;
    margin-right: 17px;
}

html {
    overflow-y: scroll;
}

/* Global Styles */
h1, h2 {
    color: #4a4a4a;
    margin-bottom: 20px;
}

p {
    font-size: 18px;
    margin-bottom: 20px;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

/* Styles de la navigation principale */
.nav {
    background-color: #829db6;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    padding: 10px 0;
    box-sizing: border-box;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    
}

.nav-logo {
    width: 80px;
    height: 80px;
    object-fit: contain;
    padding: 0;
}

.nav-links {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 8px 10px;
    transition: background-color 0.3s;
    border-radius: 5px;
}

.nav a:hover, .nav a.active {
    border-bottom: 2px solid white;
    padding-bottom: 8px;
}

/* Styles de la sous-navigation */
.sub-nav {
    background-color: white;
    width: 100%;
    padding: 20px 0;  /* Augmentez la valeur de padding-top et padding-bottom pour élargir la hauteur */
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 120px; /* Décale légèrement la sous-navigation sous la navigation principale */
}

.sub-nav-container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Arapey';
}

.sub-nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 30px;
}

.sub-nav-links li {
    display: inline-block;
}

.sub-nav-links a {
    text-decoration: none;
    color: #4a4a4a;
    font-size: 18px;
    font-family: 'Arapey';
    font-weight: bold;
    transition: color 0.3s ease;
}

.sub-nav-links a:hover {
    color: white;
}

/* Centrage vertical et horizontal */
.center-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 20px 0;
    padding-bottom: 50px;
}

/* Programme */
.prog-logo, .vague-logo {
    width: 50px;
    height: 50px;
    object-fit: contain;
    padding: 5px;
}

/* Détails du programme */
.prog-details {
    font-size: 18px;
    color: #4a4a4a;
}

/* Containers */
.container {
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    box-sizing: border-box;
}

.home-header h1 {
    text-align: center;
    font-size: 28px;
}

/* Home Page Layout */
.home-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: flex-start;
}

.left-content, .right-content {
    flex: 1;
    text-align: center;
}

/* Simple Navigation */
.simple-nav {
    background-color: white;
    width: 100%;
    position: fixed;  /* La position fixe fait en sorte que la navigation reste visible */
    top: 60px;  /* Décalage par rapport à la première navigation */
    left: 0;
    z-index: 999;  /* Moins que la barre principale pour ne pas la couvrir */
    padding: 10px 0;
    box-sizing: border-box;
}

/* Container et style de la simple-nav */
.simple-nav-links {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.simple-nav-links li {
    margin: 0 15px;
}

.simple-nav-links a {
    color: #4a4a4a;
    text-decoration: none;
    font-size: 20px;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.simple-nav-links a:hover {
    background-color: #829db6;
}

/* Responsive Layout for smaller screens */
@media (max-width: 768px) {
    .home-container {
        flex-direction: column;
    }

    .nav ul {
        flex-direction: column;
        align-items: center;
    }
}
